$cell-height: 20px;
$cell-width: 20px;
$cell-margin: 2px;

.timeline {
  &-months {
    display: flex;
    flex-direction: row;
    .month {
      text-align: center;
      font-size: 10px;
      margin-bottom: 10px;
    }

    .Jan ~ .Jan,
    .Feb ~ .Feb,
    .Mar ~ .Mar,
    .Apr ~ .Apr,
    .May ~ .May,
    .Jun ~ .Jun,
    .Jul ~ .Jul,
    .Aug ~ .Aug,
    .Sep ~ .Sep,
    .Oct ~ .Oct,
    .Nov ~ .Nov,
    .Dec ~ .Dec {
      visibility: hidden;
    }
  }
  &-body {
    display: flex;
    .timeline-weeks {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      .weeks {
        display: inherit;
        align-items: center;
        height: $cell-height;
        margin: $cell-margin;
        text-align: center;
        margin-right: 30px;
      }
    }

    .timeline-cell-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .timeline-cell {
        &.today {
          border-color: orange;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: $cell-width;
        height: $cell-height;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: $cell-margin;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
